---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro UI - A Shadcn component library for Astro" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/400.css" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/500.css" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/600.css" rel="stylesheet" />
		<link href="https://cdn.jsdelivr.net/npm/@fontsource/geist-sans/700.css" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Geist Sans', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	code, pre {
		font-family: 'Menlo', 'Monaco', 'Lucida Console', monospace;
	}
</style>
